@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Inter:wght@300;500&family=Rubik:ital,wght@0,300;0,500;1,600&display=swap');

html {
    font-size: 62,5%;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    
}

/* barra de navegacion*/
.navegation {
    width: 100vw;
    height: 3rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(24, 19, 19, 0.9);
    position: fixed;
   
}
.navegation__left {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.navegation__title {
    width:100%;
    margin: 0 auto;
    height: auto;
    font-size: 1.3rem;
    font-weight: 400;
}
.navegation__title :nth-child(1) {
    color: rgba(229, 255, 0, 0.89);
}
.navegation__title :nth-child(2) {
    color: rgba(0, 81, 255, 0.925);
}
.navegation__title :nth-child(3) {
    color:rgba(235, 17, 17, 0.904);
}
.navegation__number {
    width: 70%;
    color: rgba(239, 247, 247, 0.822);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0 auto;
}
.navegation__rigth {
    width: 40%;
    margin: 0 auto;
}
.items__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.item__nav a {
    padding: 8px;
    margin: 0 auto;
    text-decoration: none;
    color: rgba(239, 247, 247, 0.993);
}
.item__nav a:hover {
   background-color: white;
   color: black;
}
.item__nav {
    list-style: none;
    
}

.navegation__mobile {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 3rem;
}
/*header*/
.header__container {
    width: 100vw;
    height: 100vh;
    background-image: url('../fotos/big.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header-shadow {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0% , 0.7);
    display: flex;
}
.header__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    
}
.header__title {
    width: 100%;
    color: white;
    font-size: 6rem;
    font-weight:400;
    margin-bottom: 20px;
}
.header__contacto {
    color: white;
}
.header__about-us {
    width: 40%;
    display: grid;
    padding: 4px;
    place-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}
/*main-videos*/
.main__container {
    width: 100vw;
    padding-top: 4rem;
    height: auto;
    background-color: rgba(239, 247, 247, 0.822);
    
}
.main__videos {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
iframe {
    -webkit-box-shadow: -17px 20px 46px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -17px 20px 46px -8px rgba(0,0,0,0.75);
    box-shadow: -17px 20px 46px -8px rgba(0,0,0,0.75);
}
.icon-menu {
    display: block;
    color: white;
    cursor: pointer;
}


   

@media (max-width:850px) {
    
    .header__about-us{
        width: 80%;
        margin-left: 20px;
    }
    .navegation__rigth{
        display: none;
    }
    .header__title {
        font-size: 3rem;
        font-weight: 300;
    }
    iframe {
        width: 300px;
        height: 200px;
    }
    .navegation__number {
        display: none;
    }
    .header-shadow{
        flex-direction: column;
    } 
    .main__videos {
        row-gap: 15px;
        column-gap: 12px;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .header__container {
        background-image: url('../fotos/small.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    }
}
@media (min-width:849px) {
    .icon-menu {
        display: none;
    }
}
}